:root {
    --primary-color: #e06229;
    --primary-sub-color: #fcefe7;
    --secondary-color: black;
    --bg-primary: #fff;
    --secondary-text: #808080;
    --positive-color: #4ea577;

}

.main {
    background-color: var(--primary-color);
    min-height: 90vh;
}

.main section {
    width: fit-content;
    background-color: var(--primary-sub-color);
    padding: 40px 20px;
    border-radius: 20px;
    margin: 20px;
}

.main .section-2 {
    width: 300px;
}

.main .description {
    color: var(--secondary-text);
}

.btn-book {
    color: var(--bg-primary);
    background-color: var(--secondary-color);
}

.btn-bookTable{
    background-color: var(--secondary-color);
    border-radius: 20px;
    color: var(--bg-primary);
}